<p style="color: green"><%= notice %></p>

<div class="container">
  <div class="row justify-content-end">
    <div class="col-2">
      <button type="button" class="btn btn-warning">
        <%= link_to "Add food", new_food_path %>
      </button>
    </div>
  </div>
</div>


<div id="foods">
  <% @foods.each do |food| %>
    <%= render food %>
    <p>
      <%= link_to "Show this food", food %>
    </p>
  <% end %>
</div>


